 #mainLayout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 10px;
  margin-left: 10%;
  font-family: Arial;
}

/* Hidden helper class */
.hidden {
  display: none;
}

body {
  background: #b8956a;
}

/* LEFT SIDE (BOARD AND LEFT MENU) */
#leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdfaf5;
  backdrop-filter: blur(2px);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* RIGHT SIDE (VARIATION TREE) */
#rightPanel {
  background: #fdfaf5;
  backdrop-filter: blur(2px);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Buttons */
button {
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

/* CONTEXT MENU (e.g. right-click) */

.context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 4px;
  z-index: 2000;

  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.context-menu.hidden {
  display: none;
}

.context-menu button {
  background: none;
  border: none;
  text-align: left;
  color: black;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}

.context-menu button:hover {
  background: #e8f0ff;
}
